# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/

# Cython files
*.so
*.c

# Docs
docs/build
docs/api/api-generated

# Jupyter notebook checkpoints
**/.ipynb_checkpoints
