<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/static/styles/styles.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex h-screen bg-stone-100">
        {% include 'navbar.html' %}
        <div class="flex-1 flex justify-center content-center items-center">
            <div class="text-3xl">
                Pick a model on the left to start predicting.
            </div>
        </div>
    </div>
</body>
</html>