{% extends 'index.html' %}

{% block content %}
<div class="flex-1 flex flex-col justify-center content-center items-center">
    <p class="text-center p-10 text-teal-600 text-6xl font-black">Welcome to the matrix server!</p>

    <p class="text-center p-10 text-teal-600 text-xl">
        This server helps you use machine learning models to predict matrices without using any code.
    </p>

    <p class="text-center p-10 text-stone-500 text-xl">
        The host of this server receives your inputs, does the calculations and returns the outputs so that you don't need to install anything.

        <br>This is a good place to start to see what the models can do. If you need to use the models intensively, we recommend you
        to download them and run them in your own computer.
    </p>
</div>
{% endblock %}
