<nav
id="sidenav"
class="h-full rounded w-fit -translate-x-full overflow-hidden bg-teal-600 shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0"
data-te-sidenav-init
data-te-sidenav-hidden="false">
<div class="text-lg px-8 py-6 text-stone-100">
    <span class="font-bold">PICK A MODEL</span>
</div>
<ul class="relative list-none" data-te-sidenav-menu-ref>
  {% for model_name in models.keys() %}
  <li class="relative">
    <a
      data-isactive="{{ 'true' if model_name == selected_model else 'false' }}"
        href="/models/{{ model_name }}/{{ model_action.name }}"
      class="data-[isactive='true']:bg-stone-100 data-[isactive='true']:text-teal-600 data-[isactive='true']:uppercase data-[isactive='true']:font-semibold flex h-12 cursor-pointer items-center truncate px-6 py-4 text-base text-stone-100 outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
      >
      <span
        class="mr-4 [&>svg]:h-4 [&>svg]:w-4 [&>svg]:text-gray-400 dark:[&>svg]:text-gray-300">
      </span>
      <span>{{ model_name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
</nav>
