<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/static/styles/styles.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col h-screen bg-stone-200 w-screen">
        {% include 'topbar.html' %}
        <div class="flex-1 flex">
            {% block content %}
            <div class="h-full pl-4 py-4">
                {% include 'model_picker_sidebar.html' %}
            </div>
            <div class="flex-1 flex justify-center content-center items-center">
                <div class="text-3xl">
                    Pick a model on the left to start using it.
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

</body>
</html>
