{% extends 'model_action_page.html' %}

{% block model_action_form %}
<form id="form" method="post" action="/api/models/{{model_name}}/test" enctype="multipart/form-data" onsubmit="formSubmitTest(event)" onreset="formReset(event)">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="col-span-full file-drop-container" ondrop="fileDrop(event)" ondragover="fileDrag(event)" ondragleave="fileDragLeave(event)">
            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Upload your structure</label>
            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                </svg>
                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label for="geometry_file" class="relative cursor-pointer rounded-md font-semibold text-teal-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-teal-500">
                    <span>Upload a file</span>
                    <input id="geometry_file" name="geometry_file" type="file" onchange="fileInputChange(event)" class="sr-only">
                </label>
                <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs leading-5 text-gray-600">Any file that sisl can parse into a geometry.</p>
            </div>
            </div>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500 uploaded-files">No file selected.</p>
        </div>

    </div>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="col-span-full file-drop-container" ondrop="fileDrop(event)" ondragover="fileDrag(event)" ondragleave="fileDragLeave(event)">
            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Upload your expected output matrix.</label>
            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                </svg>
                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label for="output_matrix_file" class="relative cursor-pointer rounded-md font-semibold text-teal-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-teal-500">
                    <span>Upload a file</span>
                    <input id="output_matrix_file" name="output_matrix_file" type="file" onchange="fileInputChange(event)" class="sr-only">
                </label>
                <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs leading-5 text-gray-600">Any file that sisl can parse into a matrix.</p>
            </div>
            </div>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500 uploaded-files">No file selected.</p>
        </div>

    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="reset" class="text-sm font-semibold leading-6 text-gray-900">Clear</button>
    <button id="submit_button" type="submit" class="rounded-md bg-teal-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-25">Test</button>
    </div>
</form>
{% endblock %}
